color:#555;
}

.admin-actions{
  display:flex;
  gap:10px;
}

.edit-btn{
  background:#ffc107;
}

.delete-btn{
  background:#dc3545;
  color:white;
}

.upload-btn{
  display:block;
  width:100%;
  padding:14px;
  background:#0a8f5a;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
  text-align:center;
  margin:10px 0;
}

.upload-btn:hover{
  opacity:.9;
}

/* STATS */

.stats-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
  margin:20px 0;
}

.stat-card{
  background:white;
  padding:20px;
  border-radius:16px;
  text-align:center;
  box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.stat-card h3{
  font-size:16px;
  margin-bottom:10px;
  color:#555;
}

.stat-card span{
  font-size:32px;
  font-weight:800;
  color:#0a8f5a;
}

@page{
  size:A4 portrait;
  margin:8mm;
}

@media print{
  body{
    background:white;
  }

  #invoiceTemplate{
    position:static;
    width:100%;
  }

  .invoice-page{
    width:100%;
    height:auto;
    page-break-after:always;
  }
}

@media(max-width:768px){
  .cart-sidebar{
    width:90%;
    left:-100%;
    z-index:99998;
  }

  .cart-sidebar.active{
    left:0;
  }

  .cart-page{
    grid-template-columns:1fr;
  }

  #cartItems{
    grid-template-columns:1fr;
    gap:15px;
  }

  .cart-item{
    gap:12px;
    min-height:130px;
  }

  .cart-item img{
    width:95px;
    height:95px;
  }

  .cart-summary{
    position:static;
  }

  .admin-product{
    flex-direction:column;
    text-align:center;
  }

  .admin-actions{
    justify-content:center;
  }
}
